/*
Damit die Webseite sowohl in einem schmalen Browserfenster des Desktop-PCs als
auch auf dem Smartphone oder Laptop wunschgemäß dargestellt wird
<meta name="viewport" content="width=device-width, initial-scale=1.0">
- To allow users to resize the text (in the browser menu),
many developers use em instead of pixels
font-size: 2.5em; -> 40px/16=2.5em
- vw (Viewport)


Dinge die ich noch ausprobieren wollte:

Erstmal nur den Header:
- Transition (Slideshow) als Background des Header (aber dunnoo??? in der Aufg steht: Transition, Transform oder Animation) DONE
- Wenn man Runter scrollt, dass man die Leiste ganz oben noch sehen kann und die Nav auch oben steht
- sowas wie n Facebook Icon oder Suchfeld mit in die Leiste einbauen
*/

@media  {

}

html{
    padding: 0;
    margin: 0;
}


body{
    margin: 0 auto;
    padding: 0;
    min-width: 1200px;
    background: #FFFFFF;
    font-family: "Helvetica Neue", Arial, sans-serif;

}


a
{
    text-decoration: none;
}

h1
{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    text-transform: uppercase;
    font-weight: bold;
}

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
    height: 100%;
}

article
{
    display: inline-block;
}

/**
 * welp, eig will ich ja eher, dass das Bild links oder rechts neben der Beschreibung ist
 * kb gerade zu ändern hahaha 22:40 lol
 * und dann beide article in eine Box xddd
 */
#About
{
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

#Thao
{
    /*padding-left: 0;

    background-color: cornflowerblue;
    width: 40vw;*/

    text-align: justify;
    width: 450px;
    height: 400px;
    background: white;
    float: left;
}

#Nhu
{
    /*text-align: justify;
    background-color: cornflowerblue;
    width: 40vw;*/

    text-align: justify;
    width: 450px;
    background: white;
    height: 400px;
    margin-left: 100px;
}

/* ---------------------------- HEADER -----------------------------*/
#header
{
    position: relative;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#slider {
    background: #000;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 480px;
    width: 1280px;
    margin: 0;
    overflow: visible;
    position: relative;
}

/* HIDE ALL OUTSIDE OF THE SLIDER */
#mask {
    overflow: hidden;
    height: 480px;
}

/* IMAGE LIST */

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#slider li {
    width: 1280px;  /* Width Image */
    height: 480px; /* Height Image */
    position: absolute;
    top: -325px; /* Original Position - Outside of the Slider */
    list-style: none;
}

#slider li.firstanimation {
    animation: cycle 50s linear infinite;
}

#slider li.secondanimation {
    animation: cycletwo 50s linear infinite;
}

#slider li.thirdanimation {
    animation: cyclethree 50s linear infinite;
}

#slider li.fourthanimation {
    animation: cyclefour 50s linear infinite;
}

#slider li.fifthanimation {
    animation: cyclefive 50s linear infinite;
}


/* ANIMATION */

@keyframes cycle {
    0%  { top: 0px; } /* When you start the slide, the first image is already visible */
    4%  { top: 0px; } /* Original Position */
    16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
    20% { top: 0px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
    21% { top: 0px; opacity: 0; z-index: -1; } /* Return to Original Position */
    92% { top: 0px; opacity: 0; z-index: 0; }
    96% { top: 0px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
    100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
    0%  { top: 0px; opacity: 0; } /* Original Position */
    16% { top: 0px; opacity: 0; }/* Starts moving after 16% to this position */
    20% { top: 0px; opacity: 1; }
    24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
    36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
    40% { top: 0px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
    41% { top: 0px; opacity: 0; z-index: -1; }   /* Return to Original Position */
    100%{ top: 0px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
    0%  { top: 0px; opacity: 0; }
    36% { top: 0px; opacity: 0; }
    40% { top: 0px; opacity: 1; }
    44% { top: 0px; opacity: 1; }
    56% { top: 0px; opacity: 1; }
    60% { top: 0px; opacity: 0; z-index: 0; }
    61% { top: 0px; opacity: 0; z-index: -1; }
    100%{ top: 0px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
    0%  { top: 0px; opacity: 0; }
    56% { top: 0px; opacity: 0; }
    60% { top: 0px; opacity: 1; }
    64% { top: 0px; opacity: 1; }
    76% { top: 0px; opacity: 1; z-index: 0; }
    80% { top: 0px; opacity: 0; z-index: 0; }
    81% { top: 0px; opacity: 0; z-index: -1; }
    100%{ top: 0px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
    0%  { top: 0px; opacity: 0; }
    76% { top: 0px; opacity: 0; }
    80% { top: 0px; opacity: 1; }
    84% { top: 0px; opacity: 1; }
    96% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 0px; opacity: 0; z-index: 0; }
}

#nav
{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: block;
}

#nav ul
{
    margin: 0;
    padding: 0;
    text-align: center;
}


/**
 * li-Elemente
 * width hier ist die Breite des Backgrounds der "nav Blöcke" haha
 *
 * > hier ist wie eine Bedingung, die Regel gilt nur wenn es eine
 * Navigation ist, die ein ul-Element und li-Element hat
 */
#nav > ul > li
{
    display: inline-block;
    width: 150px;

}

#nav > ul > li:last-child
{
    padding-right: 0;
}

/**
 * a und span Element
 */
#nav > ul > li > a,
#nav > ul > li > span
{
    display: block;
    padding: 14px 10px;
    margin-top: 30px;
    margin-bottom: 70px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    outline: 0;
    background-color: rgba(255,255,255,.7);
    color: rgb(52, 101, 53);
}


#nav > ul > li > a:hover
{
    color: #FFF;
}

/**
 * Farbe des Links
 */
#nav li.active a
{
    background: none;
    border-radius: 40px;
    border: 2px solid;
    border-color: rgba(255,255,255,.8);
    color: #FFF;
}

#nav > ul > li > ul
{
    display: none;
}

#logo
{
    margin: 0;
    padding: 0;
    background-color: rgba(52, 101, 53,.7);
}

#logo h1
{
    padding-left: 2em;
    padding-right: 75%;
    font-weight: 300;
    font-size: 1.5em;
    display: inline-block;

    outline: 0;
    color: rgb(255,255,255);
}

#logo h1 a
{
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 900;
    color: #FFF;
}

input[type=text] 
{

    margin-bottom: 7px; /* ist voll dumm mit margin-button, ka wie man es mittig festlegen kann - "logo" ist auch nicht wkl mittig .-. */
    position: relative;
    text-transform: uppercase;
    color: rgb(52, 101, 53);
    display: inline-block;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 150px;
}


/**
 * "Logo" in der Mitte des Image
*/
#logo2 span
{
    text-align: center;
    margin-bottom: 0;

    position: absolute;
    bottom: 40%;
    width: 100%;

    display: block;
    padding-top: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 7em;
    color: rgb(255,255,255);

}
/* -------------------------- HEADER END -------------------------------*/

/* ------------------------------ FOOTER ------------------------------- */
footer
{
    margin: 0;
    padding: 0;
}

#footer-email
{
    margin: 0;
    padding-left: 2em;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: rgba(255,255,255,.7);
    background-color: rgba(52, 101, 53,.7);
}

#footer-email a
{
    text-decoration: none;
    color: rgba(255,255,255,.7);
}
/* ------------------------------ FOOTER END ------------------------------- */





